footer {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 5rem;
    padding-top: 2rem;
    border-top:1px  solid rgb(132, 136, 146);
}

.text-footer{
    text-align: center;
    font-size: 1.4rem;


    strong{
        font-weight: 500;
    }
}