@use '../0-base/variables';
@use '../0-base/medias';

#header {
    width: 100%;
    height: 88%;
    padding-top: 4rem;
    display: flex;

    @include medias.small{
        flex-direction: column;
        gap: 5.2rem;
    }

    @include medias.medium{
        flex-direction: column;
        gap: 5.2rem;
    }

    @include medias.medium-large{
        flex-direction: column;
        gap: 5.2rem;
    }
}

.header-content {
    flex: 1 0 50%;
}

.header-img {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin: 0 auto;
        width: 90%;

            @include medias.medium-large{
                width: 70%;
            }
    }

    @include medias.small{
        padding-bottom: 3.8rem;
    }

    @include medias.medium{
        padding-bottom: 3.8rem;
    }

    @include medias.medium-large{
        padding-bottom: 3.8rem;
    }
}

.header-content-text {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;

    @include medias.small{
        width: 90%;
    }

    @include medias.medium{
        width: 90%;
    }

    @include medias.medium-large{
        width: 90%;
    }
}

.header-content-name{
    strong{
        color: #282938;
        font-weight: 600;
    }
}

.header-content-title {
    font-size: 4.2rem;
    color: #282938;

    @include medias.small{
        font-size: 2.8rem;
    }

    @include medias.medium{
        font-size: 2.8rem;
    }

    @include medias.medium-large{
        font-size: 3.2rem;
    }

    span {
        color: variables.$font-blue-color;
    }
}

.header-content-subtitle {
    font-weight: 400;
    color: variables.$text-color;
    font-size: 1.6rem;
    width: 80%;
    line-height: 2.4rem;


    @include medias.small{
        width: 100%;
        font-size: 1.4rem;
    }

    @include medias.medium{
        width: 80%;
        font-size: 1.4rem;
    }

    @include medias.medium-large{
        width: 80%;
        font-size: 1.6rem;
    }
}

.header-content-btn {
    padding-top: 1.6rem;
}