@use '../0-base/variables';
@use '../0-base/medias';

section {
    margin: 0 auto;
    width: 90%;
    padding: 5rem 0;

    @include medias.small{
        padding: 2.5rem 0;
    }

    @include medias.medium{
        padding: 2.5rem 0;
    }
}

.section-title {
    color: variables.$title-color;
    font-size: 3.2rem;
    padding-bottom: 8rem;

    @include medias.small {
        font-size: 2.2rem;
        padding-bottom: 4rem;
    }

    @include medias.medium {
        font-size: 2.2rem;
        padding-bottom: 4rem;
    }

    @include medias.medium-large {
        font-size: 2.6rem;
        padding-bottom: 4rem;
    }
}

.section-title-alternative {
    color: variables.$title-color;
    font-size: 3.2rem;

    @include medias.small {
        font-size: 2.2rem;
    }

    @include medias.medium {
        font-size: 2.2rem;
    }

    @include medias.medium-large{
        font-size: 2.6rem;
    }
}

.section-title-form {
    color: variables.$title-color;
    font-size: 3.2rem;
    padding-bottom: 2.4rem;

    @include medias.small {
        font-size: 2.2rem;
    }

    @include medias.medium {
        font-size: 2.2rem;
    }

    
    @include medias.medium-large {
        font-size: 2.6rem;
    }
}

.text-section {
    line-height: 2.2rem;
    color: #1C1E53;
}

/* Skills */

.skills-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.2rem;

    @include medias.small {
        flex-direction: column;
        gap: 1.8rem;
    }

    @include medias.medium {
        flex-direction: column;
        gap: 1.8rem;
    }
}

.skills-card {
    flex: 1 0 18%;
    height: 220px;
    padding: 2.4rem;
    border-radius: .8rem;
    border-bottom: 4px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: .6s ease;

    &:hover {
        border-bottom: 4px solid #0D99FF;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    h3 {
        color: variables.$title-color;
        text-transform: uppercase;

        @include medias.small {
            font-size: 1.8rem;
        }

        @include medias.medium {
            font-size: 1.8rem;
        }
    }

    p {
        height: 12rem;

        @include medias.small {
            font-size: 1.4rem;
        }

        @include medias.medium {
            font-size: 1.4rem;
        }
    }

    @include medias.medium-large{
        flex: 1 0 30%;
        height: 220px;
    }
}

.skill-card-icon {
    width: 46px;
    height: 44px;
    background: #FFFFFF;
    padding: 1rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 90%;
    }
}

/* About */

.about {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;

    @include medias.small {
        flex-direction: column-reverse;
        gap: 4.6rem;
    }

    @include medias.medium {
        flex-direction: column-reverse;
        gap: 4.6rem;

    }

    @include medias.medium-large{
        gap: 5rem;
    }

}

.about-img {
    flex: 1 0 40%;

    img {
        margin: 0 auto;
        width: 90%;

            @include medias.medium{
                width: 60%;
            }
    }

    @include medias.medium-large{
        flex: 1 0 30%;
    }
}

.about-content {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;

    p {
        width: 90%;

        @include medias.small {
            width: 100%;
            font-size: 1.4rem;
        }

        @include medias.medium {
            width: 100%;
            font-size: 1.4rem;
        }

        @include medias.medium-large{
            width: 100%;
            font-size: 1.5rem;
        }
    }

    @include medias.medium-large{
        flex: 1 0 50%;
    }
}


/* Works */

.works-title-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8rem;

    @include medias.small {
        padding-bottom: 4rem;
        gap: 1.4rem;
        align-items: flex-start;
        flex-direction: column;
    }

    @include medias.medium {
        padding-bottom: 4rem;
        gap: 1.4rem;
        align-items: flex-start;
    }

    @include medias.medium-large {
        padding-bottom: 4rem;
        gap: 1.4rem;
        align-items: flex-start;
    }
}

.works-title {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    p {
        font-size: 1.4rem;
        font-weight: 600;
        color: variables.$title-color;
    }
}

.works-cards {
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    overflow: auto;

    @include medias.small {
        padding: 1.8rem 0;
        gap: 1.6rem;
    }

    @include medias.medium {
        padding: 1.8rem 0;
        gap: 1.6rem;
    }

    @include medias.medium-large {
        padding: 1.8rem 0;
        gap: 1.6rem;
    }
}

/* Scroll */

.works-cards {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Works on Chrome, Edge, and Safari */
.works-cards::-webkit-scrollbar {
    width: 12px;
}

.works-cards::-webkit-scrollbar-track {
    background: transparent;
}

.works-cards::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid transparent;
}


/* Scroll */

.works-card {
    flex: 1 0 30%;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    border-radius: .8rem;
    scroll-snap-align: start;

    img {
        border-radius: .4rem;
    }

    @include medias.small {
        flex: 1 0 34rem;
    }

    @include medias.medium {
        flex: 1 0 34rem;
    }

    @include medias.medium-large {
        flex: 1 0 34rem;
    }

    @include medias.large{
        flex: 1 0 34rem;

    }
}

.works-card-content {
    padding: 2.4rem 0rem 2.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    h3 {
        color: #282938;

        @include medias.small {
            font-size: 1.8rem;
        }

        @include medias.medium {
            font-size: 1.8rem;
        }

        @include medias.medium-large {
            font-size: 1.8rem;
        }
    }

    p{
        @include medias.small{
            font-size: 1.4rem
        }

        @include medias.medium{
            font-size: 1.4rem
        }

        @include medias.medium-large{
            font-size: 1.4rem
        }
    }

    .works-card-link {
        border-bottom: 1px solid #0D99FF;
        width: 140px;
    }

    a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.4rem;
        color: #000;
        font-weight: 600;
        padding: 1rem;
        padding-left: 0;
        padding-right: 0;
    }


}

/* Depoiments */

.depoiments-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;

    @include medias.small{
        position: relative;
        flex-direction: column;
        height: 24rem;
    }

    @include medias.medium{
        position: relative;
        flex-direction: column;
        height: 24rem;
    }

    @include medias.medium-large{
        position: relative;
        flex-direction: column;
        height: 24rem;
    }
}

.depoiments-item {
    flex: 1 0 26%;
    border: 1px solid #006B6A;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    align-items: flex-start;
    height: 24rem;
    padding: 0 1.2rem;

    p {
        color: variables.$text-color;
        line-height: 22px;

        @include medias.small{
            font-size: 1.4rem;
        }

        @include medias.medium{
            font-size: 1.4rem;
        }
    }

    @include medias.small{
        position: absolute;
    }

    @include medias.medium{
        position: absolute;
    }

    @include medias.medium-large{
        position: absolute;
    }
}

.depoiments-client {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    .client-author {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }
}


/* FORM */

.form-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include medias.small{
        width: 90%;

            p{
                text-align: center;
                font-size: 1.4rem;
            }
    }

    @include medias.medium{
        width: 90%;

            p{
                text-align: center;
                font-size: 1.4rem;
            }
    }
}

.form-all {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include medias.small{
        width: 100%;
    }

    @include medias.medium{
        width: 100%;
    }
}

.input-field-all {
    display: flex;
    gap: 2.4rem;
    padding-top: 4.8rem;

    @include medias.small {
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        padding-top: 2.6rem;
    }

    @include medias.medium {
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        padding-top: 2.6rem;
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.input-field label {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    font-size: 1.4rem;
    color: variables.$text-color
}

.input-field input {
    border: 1px solid #5E3BEE;
    border-radius: 6px;
    padding: 1rem 1.2rem;
    width: 26rem;

    @include medias.small{
        width: 94%;
    }

    @include medias.medium{
        width: 94%;
    }
}

.input-field input:focus {
    box-shadow: none;
    outline: none;
}

.form-all textarea {
    border: 1px solid #5E3BEE;
    height: 180px;
    border-radius: .6rem;
    padding: 1.2rem;

    @include medias.small{
        width: 90%;
        margin: 0 auto;
    }

    @include medias.medium{
        width: 90%;
        margin: 0 auto;
    }
}

.form-all textarea:focus::placeholder {
    transition: .6s ease;
    opacity: 0;
}

.form-all textarea:focus {
    border: 1px solid #5E3BEE;
    box-shadow: none;
    outline: none;
}

/* Social */

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-links {
    display: flex;
    gap: 1rem;


    a{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i {
        padding: .2rem;
        font-size: 4.2rem;
        color: #000000;
        transition: .6s ease;

        &:hover {
            opacity: .8;
        }
    }
}