@use '../0-base/medias';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* 1rem equivale a 10px */

body {
    font-size: 1.6rem;
    height: 100vh;
    width: 100%;

    @include medias.small{
        height: auto;
    }

    @include medias.medium{
        height: auto;
    }

    @include medias.medium-large{
        height: auto;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

textarea {
    resize: none;
  }